
<div class="jumbotron">
		
		<h1><span class="highlight">Conspire!</span></h1>
		<h2>Because Splitting Work Makes For Happier Law Students</h2>
		<% if user_signed_in? %>
          # do something
     	<% else %>
      	<%= link_to "Log in", new_user_session_path, class: "btn" %> 
        <%= link_to "Sign up", new_user_registration_path %> 
		<% end %>

			
<!--		<p>Signup for our updates</p>

		<form>
			<input type="email" placeholder="Enter Your Email Address Here" /> 
			<button type="submit" >Get Invited</button>
		</form>

-->

</div>

			<div class="yellow">
				<div class="yellow-box"></div>


				<p>Do you want a Life outside of Law School?</p>
				<p>Put in a Little effort Once and</p>
				<p>Get 7even Times the Results.</p>


				</div>


			</div>


<div class="portfolio-con">

<h1>Share</h1>

<div class="portfolio">


<%= image_tag "book.png" %>
<!-- <img src="app/assets/img/book.png" alt="port"> -->

<h2>Case Summaries</h2>

<p>If you somehow found the determination to get through a 63 page judgement without pulling your hair out, you're better than most of us. Congratulations. Now spread the love by putting all the relevant info into a detailed summary so the rest of us can leech off your hard work. </p>

<a href="#">View Project</a>

</div>

<div class="portfolio">

<%= image_tag "jd.png" %>
<!-- <img src="img/jd.png" alt="port"> -->

<h2>Journal Summaries</h2>

<p>This is hopefully what most of us will be sharing here. In an ideal scenario, all of us will contribute frequently and consistently, and we'll all get higher 1sts without breaking a sweat. In an ideal scenario. Reality tends to play out a little differently. That's why the expression is "Reality's a bitch", not "Reality's an ideal scenario."</p>

<a href="#">View Project</a>

</div>

<div class="portfolio">

<%= image_tag "lib.png" %>
<!-- <img src="img/lib.png" alt="port"> -->

<h2>Cheatsheets</h2>

<p>cheat sheets cheat sheets cheat sheets cheat sheets cheat sheets cheat sheets. cheat sheets cheat sheets cheat sheets cheat sheets cheat sheets. cheat sheets cheat sheets cheat sheets cheat sheets</p>


<a href="#">View Project</a>

</div>

</div>


	<div class="team-con">

		<h1>Meet the Team</h1>

		<div class="team-cen">
	
		<div class="team">
			<img src="img/shanelee.png">
			<h3>Shen</h3>
			

		</div>

		<div class="team">
			<img src="img/shanelee.png">
			<h3>Lejing</h3>
			

		</div>

		<div class="team">
			<img src="img/shanelee.png">
			<h3>Andrew</h3>
			

		</div>	

		<div class="team">
			<img src="img/shanelee.png">
			<h3>Jasmine</h3>
			

		</div>	

		<div class="team">
			<img src="img/shanelee.png">
			<h3>Nichola</h3>
		

		</div>		

		</div>

		<div class="team-after">

		<h2>Want to Know more? <span class="grey">| A little about us</span></h2>

		<p>We're second year law students with a knack for cutting corners.</p>
		<p>That's why we're all sharing summaries of journal articles, chapter summaries, essay outlines, entire essays, useful tips, cheatsheets, etc. </p>


<p class="padding">As long as there's anything worth sharing, we'll share it here.</p>
		

		</div>

	</div>


<div class="footer">
	<small> © 2013 Shen - Created with <a href="http://cheezburger.com/5181053440">Love</a>, <a href="http://www.psychologytoday.com/blog/the-scientific-fundamentalist/201005/why-night-owls-are-more-intelligent-morning-larks">Late Nights</a> and <a href="http://www.news.com.au/lifestyle/food/barista-spills-the-beans-on-coffee-customers/story-fneuz8wn-1226679984182">Lots of Coffee</a></small>

</div>
</body>
</html>
